h1,
h3 {
	margin-bottom: 1.2rem;
}

.jumbotron {
	background-image: url("bf1.jpg");
}

#jumbotronHeading,
#jumbotronPara {
	color: white;
	text-shadow: 2px 3px 1px black;
}

#aboutSection,
#squadLeaderSection,
#squadMembersSection,
#requirements,
#join {
	margin-bottom: 2rem;
} 

