body {
	background-color: #d9d9d9;
	color: black;
	text-shadow: 1px 2px 1px white;
}

h1,
h3 {
	margin-bottom: 1.2rem;
}

#aboutHeader,
#rHeader,
#jHeader,
h3 {
	font-family: 'Fjalla One', sans-serif;
}



.jumbotron {
	background-image: url("bf1.jpg");
	
}

#jumbotronHeading
{
	color: white;
	text-shadow: 2px 3px 1px black;
}



#jumbotronPara {
	color: white;
	text-shadow: 1px 2px 1px black;
	font-size: 2rem;
}

#aboutSection,
#squadLeaderSection,
#squadMembersSection,
#requirements,
#join {
	margin-bottom: 2rem;
} 

#verbal {
	font-weight: bold;
}

#important {
	color: red;
}

/* ==================================================================== */


/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { 



}

/* Medium devices (desktops, 992px and up) */ /* MAIN USE */
@media screen and (min-width: 992px) {
 
	#jumbotronHeading {
	font-size: 5rem;
}

#jumbotronPara {
	font-size: 1.8rem;
}
 
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {
	
	
}


