h1 {
	
}

/* ================================== */

#subtext {
	font-size: 1.4rem;
	
	color: white;
	text-shadow: 2px 2px 2px black;
}

.indent {
	text-indent: 50px;
}

.jumbotron {
	padding-top: 3rem;
	min-width: 100%;
	max-width: 100%;
	background-image: url("oneman.jpg");
	background-position: -700px -300px;
}

#mainHeader {
	font-size: 3rem;
	min-width: 100%;
	max-width: 100%;
	
	color: white;
	text-shadow: 2px 2px 2px black;
}

.highlight {
	color: red;
}

.card {
	background-color: #e6e6e6;
}





/* Specifically only mobile */

@media screen and (max-width: 750px) {
	.make-smaller-mobile {
	font-size: 3rem;
}

#sidebar {
		display: hide;
	}

}


/* === Desktop Only ================== */

@media screen and (min-width: 1024px){
	#sidebar {
		width: 10vw;
		height: 100vh;
		position: fixed;
		background-color: #453D4B;
		margin-left: 84vw;
	}
	
	.jumbotron {
		padding-top: 6rem;
		background-image: url("2soldiers.jpg");
		background-size: cover;
		background-position: 0 -150px ;
	}
	
	#mainHeader {
		font-size: 6rem;
		color: white;
		text-shadow: 2px 2px 2px black;
	}
	
	#subtext {
		font-size: 2rem;
		color: white;
		text-shadow: 2px 2px 2px black;
	}
	
	.card {
		margin-right: 2rem;
	}
}